#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#loadingScreen p {
    color: white;
    font-size: 24px;
}


#jCoinsPicture {
    width: 50px;
    height: 50px;
    size: 10%;
    display: inline;
    position: relative;
    right: 10px;
    top: 10px;
}

#jCoins {
    display: inline;
    font-size: 50px;
    right: 10px;
    top: 5px;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969;
    padding: 2px 15px;
    height: 150px;
}

.navbar-part {
    text-align: center;
}

#navBarR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969;
    padding: 2px 15px;
    height: 150px;
}

#navbar h1,
#navbar img,
#navbar p {
    margin: 0;
}

.jCoinsPicture {
    max-width: 50px;
    height: auto;
}

.jCoins {
    margin: 5px 0;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#leftBox {
    position: absolute;
    left: 0;
    width: 400px;
    height: 100vh;
    border-right: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rightBox {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100vh;
    border-left: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickButton {
    width: 150px;
    height: auto;
}

#startingText {
    position: relative;
    left: 400px;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.shopItem {
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.shopItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.BTS img{
    height: 30px;
}