#loadingScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

#loadingScreen p {
    color: white;
    font-size: 24px;
}


#jCoinsPicture {
    width: 50px;
    height: 50px;
    size: 10%;
    display: inline;
    position: relative;
    right: 10px;
    top: 10px;
}

#jCoins {
    display: inline;
    font-size: 50px;
    right: 10px;
    top: 5px;
    position: relative;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969;
    padding: 2px 15px;
    height: 150px;
}

.navbar-part {
    text-align: center;
}

#navBarR {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #696969;
    padding: 2px 15px;
    height: 150px;
}

#navbar h1,
#navbar img,
#navbar p {
    margin: 0;
}

.jCoinsPicture {
    max-width: 50px;
    height: auto;
}

.jCoins {
    margin: 5px 0;
    font-size: 18px;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#leftBox {
    position: absolute;
    left: 0;
    width: 400px;
    height: 100vh;
    border-right: 3px solid black;
    display: block;
    justify-content: center;
    align-items: center;
}
.CT img{
    position: absolute;
    left: 30%;
    top: 50%;
}
#rightBox {
    position: absolute;
    right: 0;
    width: 400px;
    height: 100vh;
    border-left: 3px solid black;
    display: block;
    align-items: top;
}

#clickButton {
    width: 150px;
    height: auto;
}

#startingText {
    position: relative;
    left: 400px;
    padding: 15px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.shopItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.BTS img{
    height: 30px;
}

.shop{
    height: 75px;
    border: 3px solid black;
    border-radius: 3px;
}
.shop h2{
    margin-left: 43%;
}

.shopItem {
    display: flex;
    align-items: top;
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    height: 75px;
}

.shopItem2 {
    display: flex;
    align-items: top;
    border: 3px solid black;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    height: 75px;
}
 
.shopItem img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
 
.shopItem .itemName {
    font-size: 18px;
    font-weight: bold;
}
 
.shopItem .itemDescription {
    font-size: 14px;
    color: #666;
}
 
.shopItem .itemCost {
    font-size: 16px;
    color: #007bff;
}
 
.shopItem .itemAmount {
    font-size: 16px;
    color: #333;
}
.shopItem #amountAutoClicker{
    position: absolute;
    right: 10px;
    top: 200px;
    font-size: 50px;
    font-weight: bold;
}
.shopItem2 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
 
.shopItem2 .itemName {
    font-size: 18px;
    font-weight: bold;
}
 
.shopItem2 .itemDescription {
    font-size: 14px;
    color: #666;
}
 
.shopItem2 .itemCost {
    font-size: 16px;
    color: #007bff;
}
 
.shopItem2 .itemAmount {
    font-size: 16px;
    color: #333;
}

.shopItem2 #amountAutoClicker{
    position: absolute;
    right: 10px;
    top: 300px;
    font-size: 50px;
    font-weight: bold;
}

.shopItem2 #Tosti_Ham_Kaas{
    position: absolute;
    right: 10px;
    top: 20px;
    font-size: 50px;
    font-weight: bold;
}
.Stext{
    width: 690px;
}

.U{
    display: flex;
    align-items: top;
    border: 3px solid black;
    width: 90px;
    border-radius: 5px;
    height: 75px;
}

.name h1{
    margin-left: 15%;
}
.mini{
   font-size: 20px; 
}